<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8cdcf4">  <td>20/01/08 01:30:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumTest.browserAutomation()[pri:0, instance:FirstMaven.MavenLearning.SeleniumTest@10dba097]">browserAutomation</td> 
  <td>main@1138193439</td>   <td></td> </tr>
<tr bgcolor="8cdcf4">  <td>20/01/08 01:30:45</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumTest.elemntsUi()[pri:0, instance:FirstMaven.MavenLearning.SeleniumTest@10dba097]">elemntsUi</td> 
  <td>main@1138193439</td>   <td></td> </tr>
</table>
