<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8cdcf4">  <td>18/07/12 05:39:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumTest.browserAutomation()[pri:0, instance:FirstMaven.MavenLearning.SeleniumTest@6ec8211c]">browserAutomation</td> 
  <td>main@40472007</td>   <td></td> </tr>
<tr bgcolor="8cdcf4">  <td>18/07/12 05:39:31</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumTest.elemntsUi()[pri:0, instance:FirstMaven.MavenLearning.SeleniumTest@6ec8211c]">elemntsUi</td> 
  <td>main@40472007</td>   <td></td> </tr>
<tr bgcolor="cea97b">  <td>18/07/12 05:39:31</td>   <td>13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApiumTest.iosApps()[pri:0, instance:FirstMaven.MavenLearning.ApiumTest@2e3fc542]">iosApps</td> 
  <td>main@40472007</td>   <td></td> </tr>
<tr bgcolor="cea97b">  <td>18/07/12 05:39:31</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApiumTest.nativeAppandroid()[pri:0, instance:FirstMaven.MavenLearning.ApiumTest@2e3fc542]">nativeAppandroid</td> 
  <td>main@40472007</td>   <td></td> </tr>
<tr bgcolor="9aab84">  <td>18/07/12 05:39:31</td>   <td>19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RestApi.deletTwitter()[pri:0, instance:FirstMaven.MavenLearning.RestApi@150c158]">deletTwitter</td> 
  <td>main@40472007</td>   <td></td> </tr>
<tr bgcolor="9aab84">  <td>18/07/12 05:39:31</td>   <td>22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RestApi.postJira()[pri:0, instance:FirstMaven.MavenLearning.RestApi@150c158]">postJira</td> 
  <td>main@40472007</td>   <td></td> </tr>
</table>
